{% extends 'tunza/base.html' %} {% block content %}

<div class="container-fluid">
  <div class="signup-text">
    <small><h3>Signup here...</h3></small>
  </div>

  <!--Signup form starts here  -->

  <form method="POST" action="">
    {% csrf_token %}

    <div class="mb-3">
      <label for="InputUsername" class="form-label">User name</label>
      <input
        type="text"
        class="form-control"
        name="username"
        id="InputUsername"
      />
    </div>

    <div class="mb-3">
      <label for="InputUsername" class="form-label">Email</label>
      <input
        type="text"
        class="form-control"
        name="email"
        id="Inputemail"
        placeholder="@"
      />
    </div>

    <div class="mb-3">
      <label for="InputUsername" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        name="password1"
        id="Password"
      />
    </div>

    <div class="mb-3">
      <label for="InputUsername" class="form-label">Confirm password</label>
      <input
        type="password"
        class="form-control"
        name="password2"
        id="Password"
        
      />
    </div>

    <button type="submit" class="btn btn-primary" name="Create User">
      Register
    </button>
  </form>

  <!-- end of form -->

  <div class="error">
    <p>{{form.errors}}</p>
  </div>

  <div class="border-top pt-3 mt-2">
    <small class="text-muted">
      Do you have an account ?
      <a class="ml-2" href="{% url 'login' %}"> Login </a>
    </small>
  </div>
</div>

{% endblock %}
